
body {

  white; height: 100%;
  margin: 0;
  padding: 0;
  background: url("/img/rubin_house.png");
  background-size: cover;

}

#chart-container {
  width: 425px;
  height: 235px;
  display: block;
  position:absolute;
  bottom:0; top:100;
  left:1000; right:0;
  margin: 5px 15px 15px 0;
  overflow: hidden;
}
