
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("/img/rubin_house.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#Mode{
  color: red;
  font-size: 24px;
  padding: 10px;
}
#rt_data {
  color: white;
  font-size: 24px;
  padding: 10px;
}
#bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  border-bottom: 0px solid gray;
  border-left: 0px solid gray;
  height:250px;
  width:50px;
  position:absolute;
  top:150px;
  left:30px;
}


#chart-container {
  width: 425px;
  height: 235px;
  display: block;
  position:absolute;
  bottom:0; top:0px;
  left:500px; right:0;
  margin: 5px 15px 15px 0;
  overflow: hidden;
}


#bar-chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
